<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterFiscalizacaoApp.funcionario.home.title">Funcionarios</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-funcionario" [routerLink]="['/funcionario/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jhipsterFiscalizacaoApp.funcionario.home.createLabel">
            Create new Funcionario
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="funcionarios">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="jhipsterFiscalizacaoApp.funcionario.nome">Nome</span></th>
            <th><span jhiTranslate="jhipsterFiscalizacaoApp.funcionario.endereco">Endereco</span></th>
            <th><span jhiTranslate="jhipsterFiscalizacaoApp.funcionario.telefone">Telefone</span></th>
            <th><span jhiTranslate="jhipsterFiscalizacaoApp.funcionario.numVeiculoAbordado">Num Veiculo Abordado</span></th>
            <th><span jhiTranslate="jhipsterFiscalizacaoApp.funcionario.numDocApreendido">Num Doc Apreendido</span></th>
            <th><span jhiTranslate="jhipsterFiscalizacaoApp.funcionario.supervisor">Supervisor</span></th>
            <th><span jhiTranslate="jhipsterFiscalizacaoApp.funcionario.chefe">Chefe</span></th>
            <th><span jhiTranslate="jhipsterFiscalizacaoApp.funcionario.gerente">Gerente</span></th>
            <th><span jhiTranslate="jhipsterFiscalizacaoApp.funcionario.departamento">Departamento</span></th>
            <th><span jhiTranslate="jhipsterFiscalizacaoApp.funcionario.cargo">Cargo</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let funcionario of funcionarios ;trackBy: trackId">
                <td><a [routerLink]="['/funcionario', funcionario.id, 'view' ]">{{funcionario.id}}</a></td>
                <td>{{funcionario.nome}}</td>
                <td>{{funcionario.endereco}}</td>
                <td>{{funcionario.telefone}}</td>
                <td>{{funcionario.numVeiculoAbordado}}</td>
                <td>{{funcionario.numDocApreendido}}</td>
                <td>
                    <div *ngIf="funcionario.supervisor">
                        <a [routerLink]="['../funcionario', funcionario.supervisor?.id, 'view' ]" >{{funcionario.supervisor?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="funcionario.chefe">
                        <a [routerLink]="['../funcionario', funcionario.chefe?.id, 'view' ]" >{{funcionario.chefe?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="funcionario.gerente">
                        <a [routerLink]="['../funcionario', funcionario.gerente?.id, 'view' ]" >{{funcionario.gerente?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="funcionario.departamento">
                        <a [routerLink]="['../departamento', funcionario.departamento?.id, 'view' ]" >{{funcionario.departamento?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="funcionario.cargo">
                        <a [routerLink]="['../cargo', funcionario.cargo?.id, 'view' ]" >{{funcionario.cargo?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/funcionario', funcionario.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/funcionario', funcionario.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'funcionario/'+ funcionario.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
