<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-equipamento-heading" jhiTranslate="jhipsterFiscalizacaoApp.equipamento.home.createOrEditLabel">Create or edit a Equipamento</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!equipamento.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="equipamento.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterFiscalizacaoApp.equipamento.descricao" for="field_descricao">Descricao</label>
                    <input type="text" class="form-control" name="descricao" id="field_descricao"
                        [(ngModel)]="equipamento.descricao" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterFiscalizacaoApp.equipamento.tipo" for="field_tipo">Tipo</label>
                    <select class="form-control" name="tipo" [(ngModel)]="equipamento.tipo" id="field_tipo" >
                        <option value="VESTUARIO">{{'jhipsterFiscalizacaoApp.TipoEquipamento.VESTUARIO' | translate}}</option>
                        <option value="SEGURANCA">{{'jhipsterFiscalizacaoApp.TipoEquipamento.SEGURANCA' | translate}}</option>
                        <option value="VEICULAR">{{'jhipsterFiscalizacaoApp.TipoEquipamento.VEICULAR' | translate}}</option>
                        <option value="OUTROS">{{'jhipsterFiscalizacaoApp.TipoEquipamento.OUTROS' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterFiscalizacaoApp.equipamento.dataEntrada" for="field_dataEntrada">Data Entrada</label>
                    <div class="input-group">
                        <input id="field_dataEntrada" type="text" class="form-control" name="dataEntrada" ngbDatepicker  #dataEntradaDp="ngbDatepicker" [(ngModel)]="equipamento.dataEntrada"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dataEntradaDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterFiscalizacaoApp.equipamento.operacao" for="field_operacao">Operacao</label>
                    <select class="form-control" id="field_operacao" name="operacao" [(ngModel)]="equipamento.operacao" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="operacaoOption.id === equipamento.operacao?.id ? equipamento.operacao : operacaoOption" *ngFor="let operacaoOption of operacaos; trackBy: trackOperacaoById">{{operacaoOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
