<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-localizacao-heading" jhiTranslate="jhipsterFiscalizacaoApp.localizacao.home.createOrEditLabel">Create or edit a Localizacao</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!localizacao.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="localizacao.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterFiscalizacaoApp.localizacao.bairro" for="field_bairro">Bairro</label>
                    <input type="text" class="form-control" name="bairro" id="field_bairro"
                        [(ngModel)]="localizacao.bairro" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterFiscalizacaoApp.localizacao.logradouro" for="field_logradouro">Logradouro</label>
                    <input type="text" class="form-control" name="logradouro" id="field_logradouro"
                        [(ngModel)]="localizacao.logradouro" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterFiscalizacaoApp.localizacao.perimetro" for="field_perimetro">Perimetro</label>
                    <input type="text" class="form-control" name="perimetro" id="field_perimetro"
                        [(ngModel)]="localizacao.perimetro" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterFiscalizacaoApp.localizacao.operacao" for="field_operacao">Operacao</label>
                    <select class="form-control" id="field_operacao" name="operacao" [(ngModel)]="localizacao.operacao" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="operacaoOption.id === localizacao.operacao?.id ? localizacao.operacao : operacaoOption" *ngFor="let operacaoOption of operacaos; trackBy: trackOperacaoById">{{operacaoOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterFiscalizacaoApp.localizacao.fiscalizacao" for="field_fiscalizacao">Fiscalizacao</label>
                    <select class="form-control" id="field_fiscalizacao" name="fiscalizacao" [(ngModel)]="localizacao.fiscalizacao" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="fiscalizacaoOption.id === localizacao.fiscalizacao?.id ? localizacao.fiscalizacao : fiscalizacaoOption" *ngFor="let fiscalizacaoOption of fiscalizacaos; trackBy: trackFiscalizacaoById">{{fiscalizacaoOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterFiscalizacaoApp.localizacao.municipio" for="field_municipio">Municipio</label>
                    <select class="form-control" id="field_municipio" name="municipio" [(ngModel)]="localizacao.municipio" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="municipioOption.id === localizacao.municipio?.id ? localizacao.municipio : municipioOption" *ngFor="let municipioOption of municipios; trackBy: trackMunicipioById">{{municipioOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
