<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterFiscalizacaoApp.localizacao.home.title">Localizacaos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-localizacao" [routerLink]="['/localizacao/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jhipsterFiscalizacaoApp.localizacao.home.createLabel">
            Create new Localizacao
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="localizacaos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="jhipsterFiscalizacaoApp.localizacao.bairro">Bairro</span></th>
            <th><span jhiTranslate="jhipsterFiscalizacaoApp.localizacao.logradouro">Logradouro</span></th>
            <th><span jhiTranslate="jhipsterFiscalizacaoApp.localizacao.perimetro">Perimetro</span></th>
            <th><span jhiTranslate="jhipsterFiscalizacaoApp.localizacao.operacao">Operacao</span></th>
            <th><span jhiTranslate="jhipsterFiscalizacaoApp.localizacao.fiscalizacao">Fiscalizacao</span></th>
            <th><span jhiTranslate="jhipsterFiscalizacaoApp.localizacao.municipio">Municipio</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let localizacao of localizacaos ;trackBy: trackId">
                <td><a [routerLink]="['/localizacao', localizacao.id, 'view' ]">{{localizacao.id}}</a></td>
                <td>{{localizacao.bairro}}</td>
                <td>{{localizacao.logradouro}}</td>
                <td>{{localizacao.perimetro}}</td>
                <td>
                    <div *ngIf="localizacao.operacao">
                        <a [routerLink]="['../operacao', localizacao.operacao?.id, 'view' ]" >{{localizacao.operacao?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="localizacao.fiscalizacao">
                        <a [routerLink]="['../fiscalizacao', localizacao.fiscalizacao?.id, 'view' ]" >{{localizacao.fiscalizacao?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="localizacao.municipio">
                        <a [routerLink]="['../municipio', localizacao.municipio?.id, 'view' ]" >{{localizacao.municipio?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/localizacao', localizacao.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/localizacao', localizacao.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'localizacao/'+ localizacao.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
