<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="documentacao">
            <h2><span jhiTranslate="jhipsterFiscalizacaoApp.documentacao.detail.title">Documentacao</span> {{documentacao.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterFiscalizacaoApp.documentacao.tipo">Tipo</span></dt>
                <dd>
                    <span jhiTranslate="{{'jhipsterFiscalizacaoApp.TipoDocumentacao.' + documentacao.tipo}}">{{documentacao.tipo}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterFiscalizacaoApp.documentacao.descricao">Descricao</span></dt>
                <dd>
                    <span>{{documentacao.descricao}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterFiscalizacaoApp.documentacao.fiscalizacao">Fiscalizacao</span></dt>
                <dd>
                    <div *ngIf="documentacao.fiscalizacao">
                        <a [routerLink]="['/fiscalizacao', documentacao.fiscalizacao?.id, 'view']">{{documentacao.fiscalizacao?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/documentacao', documentacao.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
