<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="orgao">
            <h2><span jhiTranslate="jhipsterFiscalizacaoApp.orgao.detail.title">Orgao</span> {{orgao.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterFiscalizacaoApp.orgao.nome">Nome</span></dt>
                <dd>
                    <span>{{orgao.nome}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterFiscalizacaoApp.orgao.endereco">Endereco</span></dt>
                <dd>
                    <span>{{orgao.endereco}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterFiscalizacaoApp.orgao.telefone">Telefone</span></dt>
                <dd>
                    <span>{{orgao.telefone}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/orgao', orgao.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
